package components

templ Form() {
	<form method="post" action="/shorten-submit">
		<div>
			<label for="url">URL:</label>
			<input type="text" id="url" name="url" required>
			<button type="submit">Shorten now</button>
		</div>
	</form>
}
